</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul class="nav-bar">
                    <li><a href="/">Home</a></li>
                    <li><a href="/search-page">Search Names</a></li>
                    <li><a href="/history">Recent Searches</a></li>
                    <li><a href="/fav">Your Favorites</a></li>
                </ul>
            </nav>
        </header>