</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul class="nav-bar">
                    <li><a href="#search">Search Names</a></li>
                    <li><a href="#recent">Recent Searches</a></li>
                    <li><a href="#favorites">Your Favorites</a></li>
                </ul>
            </nav>
        </header>