</head>
<body>
    <div class="container">
        <header>
            <nav>
                <ul class="nav-bar">
                    <link rel="icon" href="icons.jpeg" type="image/jpeg">
                    <link rel="shortcut icon" href="icons.jpeg" type="image/x-icon">
                    <li><a href="/">Home</a></li>
                    <li><a href="/search-page" class="navbar-link" >Search Names</a></li>
                    <li><a href="/history" class="navbar-link">Recent Searches</a></li>
                    <li><a href="/fav" class="navbar-link">Favorites</a></li>
                    
                </ul>
            </nav>
        </header>