<%- include('includes/head.ejs') %>

<body>
    <%- include('includes/nav.ejs') %>
    <h1>Favorites</h1>
    <div id="favoritesList">
        <!-- Saved favorites will be displayed here -->
    </div>
    

<script src="/scripts/script.js"></script>

    <%- include('includes/end.ejs') %>
</body>
