<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <h1 class="h1-landing">Torre APIS fetching</h1>
        <p class="intro">Discover and connect with individuals easily, using Torre API we try to provide your desired information!</p>
        <button  id="startButton" >Start Using</button>
    </main>

    <script src="script.js"></script>

    <%- include('includes/end.ejs') %>
</body>
