<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>

    <h1>Torre Search</h1>
    <form id="searchForm">
        <input type="text"  id="searchInput" placeholder="Enter a name">
        <button type="submit">Search</button>
    </form>
    <div id="results">
    </div>
    <script src="scripts/script.js">
        
    </script>

    <%- include('includes/end.ejs') %>
</body>
