<%- include('includes/head.ejs') %>
<body>
    <%- include('includes/nav.ejs') %>

    <h1 class="torre-search">Torre Search</h1>
    <form id="searchForm">
        <input type="text" class="input-search" id="searchInput" placeholder="Enter a name">
        <button class="button-78" type="submit">Search</button>
    </form>
    <div id="results" class="result-container">
    </div>
    </p>
    <script src="/scripts/script.js">
        
    </script>

    <%- include('includes/end.ejs') %>
</body>
