body {
    background-color: black;
    color: #cddc39;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 80px;
}

header {
    background-color: #cddc39;
    padding: 10px 0; 
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin-bottom: 10px;
    display: block;
    
}


.nav-bar {
    list-style-type: none;
    padding: 0;
    display: flex; 
    justify-content: center; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #cddc39; /* Change this to your desired background color */
    z-index: 9999; /* Ensure a higher z-index value */
    padding: 10px 0; /* Adjust padding as needed */
    text-align: center;
}
/* Card container */
.result-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line if needed */
    justify-content: space-between; /* Distribute cards evenly across the container */
    color: #0c0d0d;
}

/* Card-like structure */
.result-card {
    border: 1px solid #cddc39;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #cddc39;
    display: flex;
    flex-direction: column; /* Stack image and content vertically */
}

/* Styling for the image container */
.card-image-container {
    flex: 1; /* Grow to fill remaining space within the card */
    display: flex;
    justify-content: center; /* Center the image vertically */
    align-items: center; /* Center the image horizontally */
    overflow: hidden; /* Hide overflowing content */
}

/* Styling for the image */
.card-image {
    max-width: 100%; /* Ensure the image does not exceed the container width */
    max-height: 100%; /* Ensure the image does not exceed the container height */
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 10px;
}

/* Styling for the text content */
.card-text-content {
    margin-top: 10px;
}

.nav-bar li {
    margin-right: 20px;
    
}
.input{
    flex: 1; /* Take up remaining space in the container */
    background-color: white;
    padding: 20px 25px;
    margin: 8px 0;
    margin-right: 10px;
    border: 1px solid #cddc39;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 16px;
}
.nav-bar a {
    text-decoration: none;
    color: black;
    background-color: #cddc39;
    padding: 10px 20px;
    margin: 35px;
    border-radius: 7px;
    border: 1px solid black; 
    transition: background-color 0.35s ease; 
    align-items: center;
    appearance: none;
    background-clip: padding-box;
    background-color: initial;
    background-image: none;
    border-style: none;
    box-sizing: border-box;
    color: #070101;
    cursor: pointer;
    display: inline-block;
    flex-direction: row;
    flex-shrink: 0;
    font-family: Eina01,sans-serif;
    font-size: 16px;
    font-weight: 800;
    justify-content: center;
    line-height: 24px;
    margin: 0;
    min-height: 64px;
    outline: none;
    overflow: visible;
    padding: 19px 26px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    width: auto;
    word-break: keep-all;
    z-index: 0;
}

.nav-bar a:hover {
    background-color: black;
    color: #cddc39;
}

main {
    text-align: center;
    margin-top: 50px;
}
.h1-landing{
    font-size: 2.5rem;
    margin-top: 88px !important;
}
h1 {
    display: block;
    font-size: 2.5rem;
    margin-top: 45px !important;

  position: relative;
  left: 100%; /* Initially position it outside the viewport on the right */
  animation: moveFromRight 0.7s forwards; /* Apply a transition effect to the left property */

}
@keyframes moveFromRight {
    to {
      left: 0; 
    }
}
.intro {
    font-size: 2.5rem;
    margin-top: 80px;
    opacity: 0; 
    transition: opacity 2s ease;
}
.intro {
    opacity: 1; 
  }










.button-78 {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #070101;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: Eina01,sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 19px 26px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
  transition: background-color 0.35s ease; 
}
.button-78 a:hover{
    color: white;
}
@media (min-width: 768px) {
  .button-78 {
    padding: 19px 32px;
  }
}

.button-78:before,
.button-78:after {
  border-radius: 80px;
}

.button-78:before {
  background-image: linear-gradient(92.83deg, #CDDC39 0, #ccdc39c6 100%);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.button-78:after {
  background-color: initial;
  background-image: linear-gradient(#CDDC39 0, #ccdc39c6 100%);
  bottom: 4px;
  content: "";
  display: block;
  
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.button-78:hover:not(:disabled):before {
  background: linear-gradient(92.83deg, rgb(51, 112, 3) 0%, rgba(74, 224, 19, 0.601) 100%);
}

.button-78:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
  opacity: 0;
}

.button-78:active:not(:ena) {
  color: #ccc;
}

.button-78:active:not(:disabled):before {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2)), linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
}

.button-78:active:not(:disabled):after {
  background-image: linear-gradient(#541a0f 0, #0c0d0d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.button-78:disabled {
  cursor: default;
  opacity: .24;
}

.button-78:hover, .button-78:hover a {
    color: white !important;
  }
  